<template>
    <hooper :itemsToShow="itemsToShow">
        <slide v-for="host in hosts" :key="host.name" :index="host.name">
            <img class="image" :src=host.image />
            <p class="text">{{host.name}}</p>
        </slide>
    </hooper>
</template>

<script>
    import {Hooper, Slide} from 'hooper';
    import 'hooper/dist/hooper.css';
    import {Host} from "./items";

    export default {
        name: "HostSlider",
        components: {
            Hooper,
            Slide
        },
        props: {
            itemsToShow: Number
        },
        methods: {
            includeHost(name) {
                if (this.hostNameSet.has(name)) {
                    return;
                }
                this.hostNameSet.add(name);
                this.hosts.push(new Host(name));
            },
            excludeAllHosts() {
                this.hostNameSet.clear();
                this.hosts = [];
            },
        },
        data() {
            return {
                hostNameSet: new Set(),
                hosts: []
            }
        }
    }
</script>

<style scoped>
    .image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .text {
        font-family: 'cambria';
        text-align: center;
    }
</style>