<template>
    <hooper :itemsToShow="itemsToShow">
        <slide v-for="node in path" :key="node.name" :index="node.name">
            <img class="image" :src=node.image />
            <p class="text">{{node.name}}</p>
        </slide>
    </hooper>
</template>

<script>
    import {Hooper, Slide} from 'hooper';
    import 'hooper/dist/hooper.css';
    import {Host, Switch} from "./items";

    export default {
        name: "PathSlider",
        components: {
            Hooper,
            Slide
        },
        props: {
            itemsToShow: Number
        },
        computed: {
            path() {
                const path = [];
                if (this.srcHost != null) {
                    path.push(this.srcHost);
                }
                path.push(...this.switches);
                if (this.dstHost != null) {
                    path.push(this.dstHost);
                }
                return path;
            }
        },
        methods: {
            includeSwitch(name) {
                this.switches.push(new Switch(name));
            },
            excludeAllSwitches() {
                this.switches = [];
            },
            setSrcHost(name) {
                this.srcHost = new Host(name);
            },
            setDstHost(name) {
                this.dstHost = new Host(name);
            }
        },
        data() {
            return {
                switches: [],
                srcHost: null,
                dstHost: null
            }
        }
    }
</script>

<style scoped>
    .image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .text {
        font-family: 'cambria';
        text-align: center;
    }
</style>