<template>
  <div class="card border-primary mb-3">
    <div class="card-header">Tool</div>
    <div class="card-body">
      <h4 class="card-title">Bisection Tool</h4>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="form-group">
          <label for="parts">Segments</label>
          <input
            v-bind:class="{'is-invalid': errors.has('Parts')}"
            class="form-control"
            id="parts"
            name="Parts"
            v-model="parts"
            v-validate="'required|integer|min_value:2'"
          />
          <div v-if="errors.has('Parts')" class="invalid-feedback">{{errors.first('Parts')}}</div>
        </div>
      </li>
      <li class="list-group-item">
        <button
          type="button"
          class="btn btn-primary"
          :disabled="errors.all().length > 0"
          v-on:click="run"
        >Run</button>
        <button type="button" class="btn btn-primary" v-on:click="analyze">Analyze</button>
        <button type="button" class="btn btn-secondary" v-on:click="clear">Clear</button>
      </li>
    </ul>
    <div class="card-footer text-muted">Type: Segmentation</div>
  </div>
</template>

<script>
export default {
  created() {
    this.parts = this.$store.getters.BISECTION_PARTS;
  },
  name: "SegmentationToolCard",
  beforeDestroy() {
    this.$store.commit("SET_BISECTION_PARTS", this.parts);
  },

  data() {
    return {
      parts: 2
    };
  },

  methods: {
    run() {
      this.$api.bisection.run(this.parts, () => this.$cy.update());
    },
    analyze() {
      this.$api.bisection.analyse(this.parts, response => {
        this.$download.csv(response.data, "bisection_stats.csv");
      });
    },
    clear() {
      this.$api.segmentation.clear(() => this.$cy.update());
    }
  }
};
</script>

<style scoped>
button {
  margin-right: 6px;
}
</style>
