<template>
  <div class="card border-primary mb-3">
    <div class="card-header">Tool</div>
    <div class="card-body">
      <h4 class="card-title">Path Routing Tool</h4>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="grid">
          <div id="left-column">
            <div class="form-group">
              <label for="srcHostSelect">Src Host</label>
              <select id="srcHostSelect" class="form-control" v-model="selectedSrcHostName">
                <option v-for="host in hostCollection.hosts" :key="host.mac">{{ host.name }}</option>
              </select>
            </div>
          </div>
          <div id="right-column">
            <div class="form-group">
              <label for="dstHostSelect">Dst Host</label>
              <select id="dstHostSelect" class="form-control" v-model="selectedDstHostName">
                <option v-for="host in hostCollection.hosts" :key="host.mac">{{ host.name }}</option>
              </select>
            </div>
          </div>
        </div>
        <div id="switch">
          <div class="form-group">
            <label for="switchesSelect">Switch</label>
            <select id="switchesSelect" class="form-control" v-model="selectedSwitchName">
              <option v-for="sw in switchCollection.switches" :key="sw.dpid">{{ sw.name }}</option>
            </select>
          </div>
        </div>
        <button
          id="include-btn"
          type="button"
          class="btn btn-success btn-sm"
          v-on:click="include"
        >Include</button>
        <button type="button" class="btn btn-danger btn-sm" v-on:click="excludeAll">Exclude All</button>
        <PathSlider ref="pathSlider" class="path-slider" :items-to-show="4" />
      </li>
      <li class="list-group-item">
        <button
          type="button"
          class="btn btn-primary"
          :disabled="!isPathCorrect"
          v-on:click="install"
        >Install</button>
      </li>
    </ul>
    <div class="card-footer text-muted">Type: Path</div>
  </div>
</template>

<script>
import { Path } from "../../../modules/path";
import PathSlider from "./containers/PathSlider";

export default {
  name: "CustomRoutingToolCard",
  components: {
    PathSlider
  },

  created() {
    this.hostCollection = this.$cy.getHostCollection();
    if (this.hostCollection.hosts.length > 0) {
      this.selectedSrcHostName = this.hostCollection.hosts[0].name;
    }
    if (this.hostCollection.hosts.length > 1) {
      this.selectedDstHostName = this.hostCollection.hosts[1].name;
    }
    this.switchCollection = this.$cy.getSwitchCollection();
    if (this.switchCollection.switches.length > 0) {
      this.selectedSwitchName = this.switchCollection.switches[0].name;
    }
  },

  methods: {
    pathNodeNames() {
      const p = [this.selectedSrcHostName];
      p.push(...this.switchNamesSequence);
      p.push(this.selectedDstHostName);
      return p;
    },
    include() {
      this.switchNamesSequence.push(this.selectedSwitchName);
      this.$refs.pathSlider.includeSwitch(this.selectedSwitchName);
      this.isPathExists = this.$cy.isPathExists(this.pathNodeNames());
    },
    excludeAll() {
      this.switchNamesSequence = [];
      this.isPathExists = false;
      this.$refs.pathSlider.excludeAllSwitches();
    },
    install() {
      const flowSettings = this.$store.getters.FLOW_SETTINGS;
      const dpidSequence = this.switchCollection.createDPIDArray(
        this.switchNamesSequence
      );
      const srcMAC = this.hostCollection.findByName(this.selectedSrcHostName)
        .mac;
      const dstMAC = this.hostCollection.findByName(this.selectedDstHostName)
        .mac;
      const p = new Path(srcMAC, dstMAC, dpidSequence);
      p.setEthType(flowSettings.ethType);
      p.setPriority(flowSettings.priority);
      p.setTimeouts(flowSettings.idleTimeout, flowSettings.hardTimeout);
      p.setServiceProperties(flowSettings.ipProto, flowSettings.servicePort);
      this.$api.path.install(p);
    }
  },

  watch: {
    selectedSrcHostName(newName) {
      this.$refs.pathSlider.setSrcHost(newName);
      this.isPathExists = this.$cy.isPathExists(this.pathNodeNames());
    },
    selectedDstHostName(newName) {
      this.$refs.pathSlider.setDstHost(newName);
      this.isPathExists = this.$cy.isPathExists(this.pathNodeNames());
    }
  },

  computed: {
    isPathCorrect() {
      const sourceAndDestinationIsNotSame =
        this.selectedSrcHostName !== this.selectedDstHostName;
      return sourceAndDestinationIsNotSame && this.isPathExists;
    }
  },

  data() {
    return {
      selectedSrcHostName: "",
      selectedDstHostName: "",
      selectedSwitchName: "",
      hostCollection: null,
      switchCollection: null,
      switchNamesSequence: [],

      isPathExists: false
    };
  }
};
</script>

<style scoped>
button {
  margin: 4px;
}

.grid {
  display: grid;
  grid-template-areas: "left-column right-column";
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  justify-items: stretch;
}

#left-column {
  grid-area: left-column;
}

#right-column {
  grid-area: right-column;
}

.path-slider {
  margin-top: 10px;
  max-height: 65px;
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>