<template>
  <div class="card border-primary mb-3">
    <div class="card-header">Tool</div>
    <div class="card-body">
      <h4 class="card-title">Dijkstra's Algorithm Tool</h4>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="form-group">
          <label for="source-host">Source Host</label>
          <select class="form-control" id="source-host" v-model="srcHostName">
            <option v-for="host in hostCollection.hosts" v-bind:key="host.mac">{{ host.name }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="destination-host">Destination Host</label>
          <select class="form-control" id="destination-host" v-model="dstHostName">
            <option v-for="host in hostCollection.hosts" v-bind:key="host.mac">{{ host.name }}</option>
          </select>
        </div>
      </li>
      <li class="list-group-item">
        <button
          type="button"
          class="btn btn-primary"
          :disabled="srcHostName === dstHostName"
          v-on:click="show"
        >Show</button>
        <button
          type="button"
          class="btn btn-primary"
          :disabled="srcHostName === dstHostName"
          v-on:click="install"
        >Install</button>
        <button type="button" class="btn btn-secondary" v-on:click="clear">Clear</button>
      </li>
    </ul>
    <div class="card-footer text-muted">Type: Routing</div>
  </div>
</template>

<script>
import { Path } from "../../../modules/path";

export default {
  name: "DijkstraToolCard",
  created() {
    this.hostCollection = this.$cy.getHostCollection();
    if (this.hostCollection.hosts.length > 0) {
      this.srcHostName = this.hostCollection.hosts[0].name;
      this.dstHostName = this.hostCollection.hosts[
        this.hostCollection.hosts.length - 1
      ].name;
    }
  },
  data() {
    return {
      shouldInstall: false,
      hostCollection: null,
      srcHostName: "",
      dstHostName: ""
    };
  },
  methods: {
    install() {
      const flowSettings = this.$store.getters.FLOW_SETTINGS;
      const srcMAC = this.hostCollection.findByName(this.srcHostName).mac;
      const dstMAC = this.hostCollection.findByName(this.dstHostName).mac;
      const p = new Path(srcMAC, dstMAC, []);
      p.setEthType(flowSettings.ethType);
      p.setPriority(flowSettings.priority);
      p.setTimeouts(flowSettings.idleTimeout, flowSettings.hardTimeout);
      p.setServiceProperties(flowSettings.ipProto, flowSettings.servicePort);
      this.$api.dijkstra.install(p);
    },

    show() {
      const srcMAC = this.hostCollection.findByName(this.srcHostName).mac;
      const dstMAC = this.hostCollection.findByName(this.dstHostName).mac;
      this.$api.dijkstra.show(srcMAC, dstMAC, () => this.$cy.update());
    },

    clear() {
      this.$api.tree.clear(() => this.$cy.update());
    }
  }
};
</script>

<style scoped>
button {
  margin: 4px;
}
</style>