<template>
  <div class="card border-primary mb-3">
    <div class="card-header">Tool</div>
    <div class="card-body">
      <h4 class="card-title">Girvan-Newman's Algorithm Tool</h4>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <button type="button" class="btn btn-primary" v-on:click="run">Run</button>
        <button type="button" class="btn btn-primary" v-on:click="analyze">Analyze</button>
        <button type="button" class="btn btn-secondary" v-on:click="clear">Clear</button>
      </li>
    </ul>
    <div class="card-footer text-muted">Type: Segmentation</div>
  </div>
</template>

<script>
export default {
  name: "GirvanNewmanToolCard",
  methods: {
    run() {
      this.$api.girvanNewman.run(() => this.$cy.update());
    },
    analyze() {
      this.$api.girvanNewman.analyse(response => {
        this.$download.csv(response.data, "girvan_newman_stats.csv");
      });
    },
    clear() {
      this.$api.segmentation.clear(() => this.$cy.update());
    }
  }
};
</script>

<style scoped>
button {
  margin: 4px;
}
</style>