<template>
  <div class="card border-primary mb-3">
    <div class="card-header">Tool</div>
    <div class="card-body">
      <h4 class="card-title">Prim's Algorithm Tool</h4>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <button type="button" class="btn btn-primary" v-on:click="run">Run</button>
        <button type="button" class="btn btn-secondary" v-on:click="clear">Clear</button>
      </li>
    </ul>
    <div class="card-footer text-muted">Type: Minimum Spanning Tree</div>
  </div>
</template>

<script>
export default {
  name: "PrimToolCard",
  methods: {
    run() {
      this.$api.prim.run(() => this.$cy.update());
    },

    clear() {
      this.$api.tree.clear(() => this.$cy.update());
    }
  }
};
</script>

<style scoped>
button {
  margin: 4px;
}
</style>
