<template>
  <div class="card border-primary mb-3">
    <div class="card-header">Tool</div>
    <div class="card-body">
      <h4 class="card-title">QoS Slicing Tool</h4>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="select-bar">
          <div id="host-select">
            <div class="form-group">
              <label for="hostSelect">Host</label>
              <select id="hostSelect" class="form-control" v-model="selectedHostName">
                <option v-for="host in hostCollection.hosts" :key="host.mac">{{ host.name }}</option>
              </select>
            </div>
          </div>
          <div id="traffic-select">
            <div class="form-group">
              <label for="trafficSelect">Qos Traffic</label>
              <select id="trafficSelect" class="form-control" v-model="selectedTrafficType">
                <option
                  :value="traffic.type"
                  v-for="traffic in trafficCollection.traffics"
                  :key="traffic.type"
                >{{ traffic.name }}</option>
              </select>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-success btn-sm" v-on:click="include">Include</button>
        <button type="button" class="btn btn-danger btn-sm" v-on:click="excludeAll">Exclude All</button>
        <button type="button" class="float-right btn btn-primary btn-sm" v-on:click="show">Show</button>
        <HostSlider ref="hostSlider" class="host-slider" :items-to-show="4" />
      </li>
      <li class="list-group-item">
        <button type="button" class="btn btn-primary" v-on:click="run">Run</button>
        <button type="button" class="btn btn-secondary" v-on:click="clear">Clear</button>
      </li>
    </ul>
    <div class="card-footer text-muted">Type: Slicing</div>
  </div>
</template>

<script>
import { TrafficType, Collection, Traffic } from "../../../modules/traffic";
import HostSlider from "./containers/HostSlider";

export default {
  name: "QosSlicingToolCard",
  components: {
    HostSlider
  },

  created() {
    this.trafficCollection = new Collection([
      new Traffic(TrafficType.VIDEO_STREAM, "Video Stream"),
      new Traffic(TrafficType.FILE_EXCHANGE, "File Exchange"),
      new Traffic(TrafficType.EMAIL, "E-Mail"),
      new Traffic(TrafficType.VOIP, "VoIP"),
      new Traffic(TrafficType.E_COMMERCE, "E Commerce")
    ]);

    this.trafficAndItsHosts = new Map();
    this.trafficAndItsHosts.set(TrafficType.VIDEO_STREAM, new Set());
    this.trafficAndItsHosts.set(TrafficType.FILE_EXCHANGE, new Set());
    this.trafficAndItsHosts.set(TrafficType.EMAIL, new Set());
    this.trafficAndItsHosts.set(TrafficType.VOIP, new Set());
    this.trafficAndItsHosts.set(TrafficType.E_COMMERCE, new Set());
    this.selectedTrafficType = TrafficType.VIDEO_STREAM;

    this.hostCollection = this.$cy.getHostCollection();
    if (this.hostCollection.hosts.length > 0) {
      this.selectedHostName = this.hostCollection.hosts[0].name;
    }
  },

  methods: {
    include() {
      this.trafficAndItsHosts
        .get(this.selectedTrafficType)
        .add(this.selectedHostName);
      this.$refs.hostSlider.includeHost(this.selectedHostName);
    },
    excludeAll() {
      this.trafficAndItsHosts
        .get(this.selectedTrafficType)
        .delete(this.selectedHostName);
      this.$refs.hostSlider.excludeAllHosts();
    },
    show() {
      this.$api.slicing.showSlice(this.selectedTrafficType, () =>
        this.$cy.update()
      );
    },
    run() {
      const flowSettings = this.$store.getters.FLOW_SETTINGS;
      const sliceDescriptions = [];
      for (let [trafficType, hosts] of this.trafficAndItsHosts) {
        if (hosts.size === 0) {
          continue;
        }

        let description = {
          hosts: [],
          trafficType: trafficType,
          flowSettings: {
            hardTimeout: flowSettings.hardTimeout,
            idleTimeout: flowSettings.idleTimeout,
            priority: flowSettings.priority
          }
        };
        for (let hostName of hosts) {
          const mac = this.hostCollection.findByName(hostName).mac;
          description.hosts.push(mac);
        }
        sliceDescriptions.push(description);
      }
      this.$api.slicing.run(sliceDescriptions, () => this.$cy.update());
    },
    clear() {
      for (let [, hosts] of this.trafficAndItsHosts) {
        hosts.clear();
      }
      this.$api.slicing.deleteSlices(() => this.$cy.update());
    }
  },

  watch: {
    selectedTrafficType(newTrafficType) {
      this.$refs.hostSlider.excludeAllHosts();
      const hostsOfSelectedTraffic = this.trafficAndItsHosts.get(
        newTrafficType
      );
      for (let host of hostsOfSelectedTraffic) {
        this.$refs.hostSlider.includeHost(host);
      }
    }
  },

  data() {
    return {
      selectedTrafficType: "",
      selectedHostName: "",
      trafficAndItsHosts: null,
      hostCollection: null,
      trafficCollection: null
    };
  }
};
</script>

<style scoped>
button {
  margin: 4px;
}

.select-bar {
  display: grid;
  grid-template-areas: "hosts traffics";
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
  justify-items: stretch;
}

#host-select {
  grid-area: hosts;
}

#traffic-select {
  grid-area: traffics;
}

.host-slider {
  margin-top: 10px;
  max-height: 65px;
  max-width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
</style>