<template>
  <div class="card border-primary mb-3">
    <div class="card-header">Tool</div>
    <div class="card-body">
      <h4 class="card-title">Segmentation Tool</h4>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="form-group">
          <label for="qSelect">Connectivity (Q)</label>
          <select class="form-control" id="qSelect" v-model="connectivity">
            <option>0.1</option>
            <option>0.2</option>
            <option>0.3</option>
            <option>0.4</option>
            <option>0.5</option>
            <option>0.6</option>
            <option>0.7</option>
            <option>0.8</option>
            <option>0.9</option>
            <option>1</option>
          </select>
        </div>
        <div class="form-group">
          <label for="stepSelect">Final Step</label>
          <select class="form-control" id="stepSelect" v-model="step">
            <option value="primarySegments">Primary Segments</option>
            <option value="secondarySegments">Secondary Segments</option>
            <option value="merging">Merging</option>
          </select>
        </div>
      </li>
      <li class="list-group-item">
        <button type="button" class="btn btn-primary" v-on:click="run">Run</button>
        <button type="button" class="btn btn-primary" v-on:click="analyze">Analyze</button>
        <button type="button" class="btn btn-secondary" v-on:click="clear">Clear</button>
      </li>
    </ul>
    <div class="card-footer text-muted">Type: Segmentation</div>
  </div>
</template>

<script>
export default {
  created() {
    this.connectivity = this.$store.getters.SEGMENTATION_CONNECTIVITY;
    this.step = this.$store.getters.SEGMENTATION_STEP;
  },
  name: "SegmentationToolCard",
  beforeDestroy() {
    this.$store.commit("SET_SEGMENTATION_CONNECTIVITY", this.connectivity);
    this.$store.commit("SET_SEGMENTATION_STEP", this.step);
  },
  data() {
    return {
      connectivity: 0,
      step: ""
    };
  },
  methods: {
    run() {
      this.$api.segmentation.run(this.connectivity, this.step, () =>
        this.$cy.update()
      );
    },
    analyze() {
      this.$api.segmentation.analyse(this.connectivity, response => {
        this.$download.csv(response.data, "segmentation_stats.csv");
      });
    },
    clear() {
      this.$api.segmentation.clear(() => this.$cy.update());
    }
  }
};
</script>

<style scoped>
button {
  margin-right: 6px;
}
</style>
