<template>
  <div class="card border-primary mb-3">
    <div class="card-header">Tool</div>
    <div class="card-body">
      <h4 class="card-title">Topology Generator</h4>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="grid">
          <div id="left-column">
            <div class="form-group">
              <label for="switches">Switches</label>
              <input
                v-bind:class="{'is-invalid': errors.has('Switches')}"
                class="form-control"
                id="switches"
                name="Switches"
                v-model="switchesQuantity"
                v-validate="'required|integer|min_value:1'"
              />
              <div
                v-if="errors.has('Switches')"
                class="invalid-feedback"
              >{{errors.first('Switches')}}</div>
            </div>
            <div class="form-group">
              <label for="hosts">Hosts</label>
              <input
                v-bind:class="{'is-invalid': errors.has('Hosts')}"
                class="form-control"
                id="hosts"
                name="Hosts"
                v-model="hostsQuantity"
                v-validate="'required|integer|min_value:0'"
              />
              <div v-if="errors.has('Hosts')" class="invalid-feedback">{{errors.first('Hosts')}}</div>
            </div>
          </div>
          <div id="right-column">
            <div class="form-group">
              <label for="links">Random Links</label>
              <input
                v-bind:class="{'is-invalid': errors.has('Links')}"
                class="form-control"
                id="links"
                name="Links"
                v-model="randomLinksQuantity"
                v-validate="'required|integer|min_value:0'"
              />
              <div v-if="errors.has('Links')" class="invalid-feedback">{{errors.first('Links')}}</div>
            </div>
            <div class="form-group">
              <label for="topologies">Topologies</label>
              <input
                v-bind:class="{'is-invalid': errors.has('Topologies')}"
                class="form-control"
                id="topologies"
                name="Topologies"
                v-model="topologiesQuantity"
                v-validate="'required|integer|min_value:1'"
              />
              <div
                v-if="errors.has('Topologies')"
                class="invalid-feedback"
              >{{errors.first('Topologies')}}</div>
            </div>
          </div>
        </div>
      </li>
      <li class="list-group-item">
        <button
          type="button"
          class="btn btn-primary"
          :disabled="errors.all().length > 0"
          v-on:click="generate"
        >Generate</button>
      </li>
    </ul>
    <div class="card-footer text-muted">Type: Generator</div>
  </div>
</template>

<script>
export default {
  name: "TopologyGeneratorToolCard",
  data() {
    return {
      switchesQuantity: 1,
      randomLinksQuantity: 0,
      hostsQuantity: 0,
      topologiesQuantity: 1
    };
  },
  methods: {
    generate() {
      this.$api.topology.generate(
        this.switchesQuantity,
        this.randomLinksQuantity,
        this.hostsQuantity,
        this.topologiesQuantity
      );
    }
  }
};
</script>

<style scoped>
.grid {
  display: grid;
  grid-template-areas: "left-column right-column";
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
  justify-items: stretch;
}

#left-column {
  grid-area: left-column;
}

#right-column {
  grid-area: right-column;
}

button {
  margin-right: 6px;
}
</style>