<template>
    <div class="grid">
        <div id="left-column">
            <TopologyCard/>
        </div>
        <div id="right-column">
            <component :is="currentAlgorithm"></component>
        </div>
    </div>
</template>

<script>
    import TopologyCard from './TopologyCard';
    import SegmentationToolCard from './tools/SegmentationToolCard';
    import PrimToolCard from './tools/PrimToolCard';
    import QosSlicingToolCard from './tools/QosSlicingToolCard';
    import BisectionToolCard from './tools/BisectionToolCard';
    import DijkstraToolCard from "./tools/DijkstraToolCard";
    import CustomRoutingToolCard from "./tools/CustomRoutingToolCard";
    import TopologyGeneratorToolCard from "./tools/TopologyGeneratorToolCard";
    import {Tool} from "../../modules/tool";
    import GirvanNewmanToolCard from "./tools/GirvanNewmanToolCard";

    export default {
        name: "MainPage",
        components: {
            SegmentationToolCard,
            PrimToolCard,
            QosSlicingToolCard,
            DijkstraToolCard,
            CustomRoutingToolCard,
            TopologyCard,
            TopologyGeneratorToolCard
        },
        computed: {
            currentAlgorithm() {
                switch (this.$store.getters.TOOL) {
                    case Tool.SEGMENTATION:
                        return SegmentationToolCard;
                    case Tool.PRIM:
                        return PrimToolCard;
                    case Tool.BISECTION:
                        return BisectionToolCard;
                    case Tool.SLICING:
                        return QosSlicingToolCard;
                    case Tool.DIJKSTRA:
                        return DijkstraToolCard;
                    case Tool.GIRVAN_NEWMAN:
                        return GirvanNewmanToolCard;
                    case Tool.CUSTOM_ROUTING:
                        return CustomRoutingToolCard;
                    case Tool.TOPOLOGY_GENERATOR:
                        return TopologyGeneratorToolCard;
                }
                return undefined;
            }
        }
    }
</script>

<style scoped>
    .grid {
        display: grid;
        grid-template-areas:
                "left-column right-column";
        grid-template-columns: 3fr 1fr;
        height: 70vh;
        grid-gap: 1em;
        justify-items: stretch;
    }

    #left-column {
        grid-area: left-column;
    }

    #right-column {
        grid-area: right-column;
    }
</style>
