<template>
    <div class="card border-primary mb-3">
        <div class="card-header">Topology</div>
        <div id="canvas" ref="canvas"></div>
        <div class="card-footer">
            <div class="btn-group" role="group" aria-label="Topology Controls">
                <button type="button" class="btn btn-primary" v-on:click="refresh">Refresh</button>
                <button type="button" class="btn btn-primary" v-on:click="save">Save</button>
                <button type="button" class="btn btn-primary" v-on:click="downloadJpeg">Download .jpeg</button>
            </div>
        </div>
    </div>
</template>

<script>
    import HostPropertiesModal from './properties/HostPropertiesModal';
    import SwitchPropertiesModal from './properties/SwitchPropertiesModal';
    import LinkPropertiesModal from './properties/LinkPropertiesModal';

    export default {
        mounted() {
            this.$cy.load(
                this.$refs.canvas, this.handleLinkTap, this.handleSwitchTap, this.handleHostTap);
        },
        name: "TopologyCard",
        methods: {
            refresh() {
                this.$cy.refresh();
            },

            save() {
                this.$api.topology.save();
            },

            downloadJpeg() {
                const data = this.$cy.createJpeg();
                this.$download.png(data, "main.jpeg");
            },

            handleHostTap(host) {
                this.$modal.show(HostPropertiesModal, {
                    mac: host.mac,
                    ip: host.ip,
                    name: host.id
                }, {
                    width: 300,
                    height: 335
                });
            },

            handleSwitchTap(sw) {
                this.$modal.show(SwitchPropertiesModal, {
                    dpid: sw.dpid,
                    name: sw.id,
                    segmentId: sw.segmentId,
                }, {
                    width: 300,
                    height: 335
                });
            },

            handleLinkTap(link) {
                this.$modal.show(LinkPropertiesModal, {
                    delay: link.delay,
                    packetLossRate: link.packetLossRate,
                    bandwidth: link.bandwidth,
                    adminMetric: link.adminMetric,
                    sourceDPID: link.srcdpid,
                    targetDPID: link.dstdpid,
                    name: link.id
                }, {
                    width: 700,
                    height: 'auto',
                    minHeight: 430
                });
            },
        },
        beforeDestroy() {
            this.$cy.save();
        }
    }
</script>

<style scoped>
    #canvas {
        height: 460px;
    }

    button {
        margin-right: 6px;
    }
</style>
