<template>
    <div class="card border-primary mb-3">
        <div class="card-header">Routes</div>
        <div class="scrollbar">
            <table class="table table-hover">
                <thead>
                <tr class="table-primary text-center">
                    <th scope="row">№</th>
                    <th scope="row">Priority</th>
                    <th scope="row">Eth Type</th>
                    <th scope="row">IP Protocol</th>
                    <th scope="row">Traffic</th>
                    <th scope="row">Service Port</th>
                    <th scope="row">Src IP</th>
                    <th scope="row">Dst IP</th>
                    <th scope="row">Idle Timeout</th>
                    <th scope="row">Hard Timeout</th>
                    <th scope="row">Managing</th>
                </tr>
                </thead>
                <tbody>
                <tr :key="i" class="table-default text-center" v-for="(p, i) in paths">
                    <td>{{i+1}}</td>
                    <td>{{p.priority}}</td>
                    <td>{{p.ethType}}</td>
                    <td>{{p.ipProto}}</td>
                    <td>{{p.servicePort | traffic}}</td>
                    <td>{{p.servicePort}}</td>
                    <td>{{p.srcIp}}</td>
                    <td>{{p.dstIp}}</td>
                    <td>{{p.idleTimeout}}</td>
                    <td>{{p.hardTimeout}}</td>
                    <td>
                        <div class="btn-group">
                            <button class="btn btn-sm btn-primary" type="button" v-on:click="visualize(i)">Visualize
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="card-footer">

        </div>
    </div>
</template>

<script>
    export default {
        name: "RoutesPage",
        mounted() {
            this.load();
        },
        data() {
            return {
                paths: []
            }
        },
        methods: {
            load() {
                this.$api.path.getAll(response => {
                    this.paths = response.data;
                })
            },
            visualize(id) {
                const path = this.paths[id];
                this.$api.path.visualize(path, () => this.$cy.update());
                this.$router.push('/');
            }
        },
        filters: {
            traffic(servicePort) {
                let traffic = 'any';
                switch (servicePort) {
                    case 10100:
                        traffic = 'FTP-DATA';
                        break;
                    case 21:
                        traffic = 'FTP';
                        break;
                    case 110:
                        traffic = 'POP3';
                        break;
                    case 80:
                    case 8080:
                    case 8088:
                        traffic = 'HTTP';
                        break;
                    case 9009:
                        traffic = 'HLS';
                        break;
                    case 25000:
                        traffic = 'RTP';
                        break;
                    case 443:
                        traffic = 'HTTPS';
                        break;
                    case 5000:
                    case 5001:
                    case 5002:
                    case 5003:
                        traffic = 'IPERF';
                        break;
                    case 1025:
                        traffic = 'SMTP';
                        break;
                }
                return traffic;
            }
        }
    }
</script>

<style scoped>
    button {
        margin: 4px;
    }

    .text-center {
        text-align: center;
    }

    .scrollbar {
        position: relative;
        height: 460px;
        overflow: auto;
        display: block;
    }
</style>