<template>
    <div class="tools-page">
        <div class="card border-primary mb-3">
            <div class="card-header">Segmentation</div>
            <div class="card-body">
                <h4 class="card-title">Segmentation Tool</h4>
                <p class="card-text">Algorithm that divides a network into segments taking into account
                    connectivity.</p>
            </div>
            <div class="card-footer">
                <router-link to='/'>
                    <button type="button" class="btn btn-primary" v-on:click="activateSegmentationTool">
                        Activate
                    </button>
                </router-link>
            </div>
        </div>
        <div class="card border-primary mb-3">
            <div class="card-header">Segmentation</div>
            <div class="card-body">
                <h4 class="card-title">Girvan-Newman Tool</h4>
                <p class="card-text">Algorithm identifies groups of the most connected OpenFlow-switches.</p>
            </div>
            <div class="card-footer">
                <router-link to='/'>
                    <button type="button" class="btn btn-primary" v-on:click="activateGirvanNewmanTool">
                        Activate
                    </button>
                </router-link>
            </div>
        </div>
        <div class="card border-primary mb-3">
            <div class="card-header">Minimum Spanning Tree</div>
            <div class="card-body">
                <h4 class="card-title">Prim's Algorithm Tool</h4>
                <p class="card-text">Greedy algorithm that finds a minimum spanning tree for a weighted undirected
                    graph.</p>
            </div>
            <div class="card-footer">
                <router-link to='/'>
                    <button type="button" class="btn btn-primary" v-on:click="activatePrimTool">Activate
                    </button>
                </router-link>
            </div>
        </div>
        <div class="card border-primary mb-3">
            <div class="card-header">Slicing</div>
            <div class="card-body">
                <h4 class="card-title">QoS Slicing Tool</h4>
                <p class="card-text">Network slicing based on quality of service (QoS) supported by switches.</p>
            </div>
            <div class="card-footer">
                <router-link to='/'>
                    <button type="button" class="btn btn-primary" v-on:click="activateQosSlicingTool">Activate
                    </button>
                </router-link>
            </div>
        </div>
        <div class="card border-primary mb-3">
            <div class="card-header">Segmentation</div>
            <div class="card-body">
                <h4 class="card-title">Bisection Tool</h4>
                <p class="card-text">Algorithm that divides a network into two equal-sized pieces recursively.</p>
            </div>
            <div class="card-footer">
                <router-link to='/'>
                    <button type="button" class="btn btn-primary" v-on:click="activateBisectionTool">Activate
                    </button>
                </router-link>
            </div>
        </div>
        <div class="card border-primary mb-3">
            <div class="card-header">Routing</div>
            <div class="card-body">
                <h4 class="card-title">Dijkstra's Algorithm Tool</h4>
                <p class="card-text">Algorithm for finding the shortest paths between nodes in a graph.</p>
            </div>
            <div class="card-footer">
                <router-link to='/'>
                    <button type="button" class="btn btn-primary" v-on:click="activateDijkstraTool">Activate
                    </button>
                </router-link>
            </div>
        </div>
        <div class="card border-primary mb-3">
            <div class="card-header">Path</div>
            <div class="card-body">
                <h4 class="card-title">Path Routing Tool</h4>
                <p class="card-text">Path route creator. There are an ability to define openflow match fields.</p>
            </div>
            <div class="card-footer">
                <router-link to='/'>
                    <button type="button" class="btn btn-primary" v-on:click="activateCustomRoutingTool">Activate
                    </button>
                </router-link>
            </div>
        </div>
        <div class="card border-primary mb-3">
            <div class="card-header">Generator</div>
            <div class="card-body">
                <h4 class="card-title">Topology Generator</h4>
                <p class="card-text">Generates random topologies for virtual controller.</p>
            </div>
            <div class="card-footer">
                <router-link to='/'>
                    <button type="button" class="btn btn-primary" v-on:click="activateTopologyGeneratorTool">Activate
                    </button>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script>
    import {Tool} from "../../modules/tool";

    export default {
        name: "ToolsPage",
        methods: {
            activatePrimTool() {
                this.$store.commit('SET_TOOL', Tool.PRIM);
            },
            activateSegmentationTool() {
                this.$store.commit('SET_TOOL', Tool.SEGMENTATION);
            },
            activateQosSlicingTool() {
                this.$store.commit('SET_TOOL', Tool.SLICING);
            },
            activateBisectionTool() {
                this.$store.commit('SET_TOOL', Tool.BISECTION);
            },
            activateDijkstraTool() {
                this.$store.commit('SET_TOOL', Tool.DIJKSTRA);
            },
            activateGirvanNewmanTool() {
                this.$store.commit('SET_TOOL', Tool.GIRVAN_NEWMAN);
            },
            activateCustomRoutingTool() {
                this.$store.commit('SET_TOOL', Tool.CUSTOM_ROUTING);
            },
            activateTopologyGeneratorTool() {
                this.$store.commit('SET_TOOL', Tool.TOPOLOGY_GENERATOR);
            }
        }
    }
</script>

<style scoped>
    .tools-page {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 2vw;
        justify-items: stretch;
    }
</style>
