<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="#">SDN Cluster Constructor</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <router-link class="nav-link" to='/'>Topology</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to='/tools'>Tools</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to='/routes'>Routes</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to='/statistics'>Statistics</router-link>
                </li>
                <li class="nav-item">
                    <router-link class="nav-link" to='/settings'>Settings</router-link>
                </li>
            </ul>
        </div>
    </nav>
</template>

<script>
    export default {
        name: 'NavigationPanel'
    }
</script>

<style scoped>

</style>
