<template>
    <div>
        <div class="card border-primary mb-3">
            <div class="card-header">Statistics</div>
            <div class="scrollbar">
                <table class="table table-hover">
                    <thead>
                    <tr class="table-primary" ref="header">
                    </tr>
                    </thead>
                    <tbody v-if="isSegmentationAlgorithm">
                    <tr :key="i" class="table-default" v-for="(e, i) in entries">
                        <td>{{i+1}}</td>
                        <td>{{e.predefinedQ | format}}</td>
                        <td>{{e.n}}</td>
                        <td>{{e.m}}</td>
                        <td>{{e.s}}</td>
                        <td>{{e.d}}</td>
                        <td>{{e.dmin}}</td>
                        <td>{{e.dmax}}</td>
                        <td>{{e.nmin}}</td>
                        <td>{{e.nmax}}</td>
                        <td>{{e.mmin}}</td>
                        <td>{{e.mmax}}</td>
                        <td>{{e.mout}}</td>
                        <td>{{e.moutmin}}</td>
                        <td>{{e.moutmax}}</td>
                        <td>{{e.qmin | format}}</td>
                        <td>{{e.qmax | format}}</td>
                        <td>{{e.time}}</td>
                    </tr>
                    </tbody>
                    <tbody v-if="isBisectionAlgorithm">
                    <tr :key="i" class="table-default" v-for="(e, i) in entries">
                        <td>{{i+1}}</td>
                        <td>{{e.predefinedS}}</td>
                        <td>{{e.n}}</td>
                        <td>{{e.m}}</td>
                        <td>{{e.s}}</td>
                        <td>{{e.d}}</td>
                        <td>{{e.dmin}}</td>
                        <td>{{e.dmax}}</td>
                        <td>{{e.nmin}}</td>
                        <td>{{e.nmax}}</td>
                        <td>{{e.mmin}}</td>
                        <td>{{e.mmax}}</td>
                        <td>{{e.mout}}</td>
                        <td>{{e.moutmin}}</td>
                        <td>{{e.moutmax}}</td>
                        <td>{{e.qmin | format}}</td>
                        <td>{{e.qmax | format}}</td>
                        <td>{{e.time}}</td>
                    </tr>
                    </tbody>
                    <tbody v-if="isSlicingAlgorithm">
                    <tr :key="i" class="table-default" v-for="(e, i) in entries">
                        <td>{{i+1}}</td>
                        <td>{{e.n}}</td>
                        <td>{{e.h}}</td>
                        <td>{{e.m}}</td>
                        <td>{{e.hmin}}</td>
                        <td>{{e.hmax}}</td>
                        <td>{{e.nmin}}</td>
                        <td>{{e.nmax}}</td>
                        <td>{{e.mmin}}</td>
                        <td>{{e.mmax}}</td>
                        <td>{{e.time}}</td>
                    </tr>
                    </tbody>
                    <tbody v-if="isPrimAlgorithm">
                    <tr :key="i" class="table-default" v-for="(e, i) in entries">
                        <td>{{i+1}}</td>
                        <td>{{e.n}}</td>
                        <td>{{e.m}}</td>
                        <td>{{e.d}}</td>
                        <td>{{e.minCost | format}}</td>
                    </tr>
                    </tbody>
                    <tbody v-if="isGirvanNewmanAlgorithm">
                    <tr :key="i" class="table-default" v-for="(e, i) in entries">
                        <td>{{i+1}}</td>
                        <td>{{e.n}}</td>
                        <td>{{e.m}}</td>
                        <td>{{e.s}}</td>
                        <td>{{e.d}}</td>
                        <td>{{e.dmin}}</td>
                        <td>{{e.dmax}}</td>
                        <td>{{e.nmin}}</td>
                        <td>{{e.nmax}}</td>
                        <td>{{e.mmin}}</td>
                        <td>{{e.mmax}}</td>
                        <td>{{e.mout}}</td>
                        <td>{{e.moutmin}}</td>
                        <td>{{e.moutmax}}</td>
                        <td>{{e.qmin | format}}</td>
                        <td>{{e.qmax | format}}</td>
                        <td>{{e.time}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" type="button" v-on:click="downloadCsv">Download .csv</button>
            </div>
        </div>
    </div>
</template>

<script>
    import {Tool} from '../../modules/tool';

    export default {
        name: "StatisticsPage",

        mounted() {
            this.addAlgorithmSpecificHeader();
            this.update()
        },

        filters: {
            format: function (value) {
                return Math.round(value * 10) / 10;
            }
        },

        data() {
            return {
                entries: []
            }
        },

        computed: {
            isSegmentationAlgorithm() {
                return this.$store.getters.STATISTICS_ALGORITHM === Tool.SEGMENTATION;
            },
            isBisectionAlgorithm() {
                return this.$store.getters.STATISTICS_ALGORITHM === Tool.BISECTION;
            },
            isSlicingAlgorithm() {
                return this.$store.getters.STATISTICS_ALGORITHM === Tool.SLICING;
            },
            isPrimAlgorithm() {
                return this.$store.getters.STATISTICS_ALGORITHM === Tool.PRIM;
            },
            isGirvanNewmanAlgorithm() {
                return this.$store.getters.STATISTICS_ALGORITHM === Tool.GIRVAN_NEWMAN;
            }
        },

        methods: {
            downloadCsv() {
                switch (this.$store.getters.STATISTICS_ALGORITHM) {
                    case Tool.SEGMENTATION:
                        this.$api.stats.segmentationCsv(response => {
                            this.$download.csv(response.data, "segmentation_stats.csv");
                        });
                        break;
                    case Tool.BISECTION:
                        this.$api.stats.bisectionCsv(response => {
                            this.$download.csv(response.data, "bisection_stats.csv");
                        });
                        break;
                    case Tool.SLICING:
                        this.$api.stats.slicingCsv(response => {
                            this.$download.csv(response.data, "slicing_stats.csv");
                        });
                        break;
                    case Tool.PRIM:
                        this.$api.stats.primCsv(response => {
                            this.$download.csv(response.data, "prim_stats.csv");
                        });
                        break;
                    case Tool.GIRVAN_NEWMAN:
                        this.$api.stats.girvanNewmanCsv(response => {
                            this.$download.csv(response.data, "girvan_newman_stats.csv");
                        });
                        break;
                }
            },

            update() {
                switch (this.$store.getters.STATISTICS_ALGORITHM) {
                    case Tool.SEGMENTATION:
                        this.$api.stats.segmentation(response => this.entries = response.data);
                        break;
                    case Tool.BISECTION:
                        this.$api.stats.bisection(response => this.entries = response.data);
                        break;
                    case Tool.SLICING:
                        this.$api.stats.slicing(response => this.entries = response.data);
                        break;
                    case Tool.PRIM:
                        this.$api.stats.prim(response => this.entries = response.data);
                        break;
                    case Tool.GIRVAN_NEWMAN:
                        this.$api.stats.girvanNewman(response => this.entries = response.data);
                        break;
                }
            },

            addAlgorithmSpecificHeader() {
                switch (this.$store.getters.STATISTICS_ALGORITHM) {
                    case Tool.BISECTION:
                        this.addHeader('№');
                        this.addHeader('BS');
                        this.addHeader('N');
                        this.addHeader('M');
                        this.addHeader('S');
                        this.addHeader('D');
                        this.addHeader('D<small><em>min</em></small>');
                        this.addHeader('D<small><em>max</em></small>');
                        this.addHeader('N<small><em>min</em></small>');
                        this.addHeader('N<small><em>max</em></small>');
                        this.addHeader('M<small><em>min</em></small>');
                        this.addHeader('M<small><em>max</em></small>');
                        this.addHeader('M<small><em>out</em></small>');
                        this.addHeader('M<small><em>out min</em></small>');
                        this.addHeader('M<small><em>out max</em></small>');
                        this.addHeader('Q<small><em>min</em></small>');
                        this.addHeader('Q<small><em>max</em></small>');
                        this.addHeader('T<small><em>ms</em></small>');
                        break;
                    case Tool.SEGMENTATION:
                        this.addHeader('№');
                        this.addHeader('Q');
                        this.addHeader('N');
                        this.addHeader('M');
                        this.addHeader('S');
                        this.addHeader('D');
                        this.addHeader('D<small><em>min</em></small>');
                        this.addHeader('D<small><em>max</em></small>');
                        this.addHeader('N<small><em>min</em></small>');
                        this.addHeader('N<small><em>max</em></small>');
                        this.addHeader('M<small><em>min</em></small>');
                        this.addHeader('M<small><em>max</em></small>');
                        this.addHeader('M<small><em>out</em></small>');
                        this.addHeader('M<small><em>out min</em></small>');
                        this.addHeader('M<small><em>out max</em></small>');
                        this.addHeader('Q<small><em>min</em></small>');
                        this.addHeader('Q<small><em>max</em></small>');
                        this.addHeader('T<small><em>ms</em></small>');
                        break;
                    case Tool.SLICING:
                        this.addHeader('№');
                        this.addHeader('N');
                        this.addHeader('H');
                        this.addHeader('M');
                        this.addHeader('H<small><em>min</em></small>');
                        this.addHeader('H<small><em>max</em></small>');
                        this.addHeader('N<small><em>min</em></small>');
                        this.addHeader('N<small><em>max</em></small>');
                        this.addHeader('M<small><em>min</em></small>');
                        this.addHeader('M<small><em>max</em></small>');
                        this.addHeader('T<small><em>ms</em></small>');
                        break;
                    case Tool.PRIM:
                        this.addHeader('№');
                        this.addHeader('N');
                        this.addHeader('M');
                        this.addHeader('D');
                        this.addHeader('C<small><em>min</em></small>');
                        break;
                    case Tool.GIRVAN_NEWMAN:
                        this.addHeader('№');
                        this.addHeader('N');
                        this.addHeader('M');
                        this.addHeader('S');
                        this.addHeader('D');
                        this.addHeader('D<small><em>min</em></small>');
                        this.addHeader('D<small><em>max</em></small>');
                        this.addHeader('N<small><em>min</em></small>');
                        this.addHeader('N<small><em>max</em></small>');
                        this.addHeader('M<small><em>min</em></small>');
                        this.addHeader('M<small><em>max</em></small>');
                        this.addHeader('M<small><em>out</em></small>');
                        this.addHeader('M<small><em>out min</em></small>');
                        this.addHeader('M<small><em>out max</em></small>');
                        this.addHeader('Q<small><em>min</em></small>');
                        this.addHeader('Q<small><em>max</em></small>');
                        this.addHeader('T<small><em>ms</em></small>');
                        break;
                }
            },

            addHeader(html) {
                let node = document.createElement("th");
                node.innerHTML = html;
                node.setAttribute('scope', 'row');
                this.$refs.header.appendChild(node);
            },
        }
    }
</script>

<style scoped>
    .scrollbar {
        position: relative;
        height: 460px;
        overflow: auto;
        display: block;
    }

    button {
        margin-right: 6px;
    }
</style>