<template>
    <div id="app">
        <NavigationPanel/>
        <router-view id="page-place"></router-view>
    </div>
</template>

<script>
    import NavigationPanel from './components/NavigationPanel.vue';

    export default {
        name: 'app',
        components: {
            NavigationPanel
        }
    }
</script>

<style scoped>
    #page-place {
        margin: 1em 1em 1em 1em;
    }
</style>
