<template>
    <div>
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Host {{name}}</h5>
                <button type="button" class="close" @click="$emit('close')">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="mac">MAC Address</label>
                    <input class="form-control" id="mac" :value="mac" readonly="">
                </div>
                <div class="form-group">
                    <label for="ip">IPv4 Address</label>
                    <input class="form-control" id="ip" :value="ip" readonly="">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" @click="$emit('close')">OK</button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            name: String,
            mac: String,
            ip: String
        },
        name: "HostPropertiesModal"
    }
</script>

<style scoped>
</style>
