<template>
    <div>
        <div class="modal-header">
            <h5 class="modal-title" id="myModalLabel">Link {{name}}</h5>
            <button type="button" class="close" @click="$emit('close')">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="modal-grid">
                <div id="left-column">
                    <div class="form-group">
                        <label for="sourceDPID">Source DPID</label>
                        <input class="form-control" id="sourceDPID" :value="sourceDPID" readonly="">
                    </div>
                    <div class="form-group">
                        <label for="delay">Delay (ms)</label>
                        <input v-bind:class="{'is-invalid': errors.has('Delay')}" class="form-control" id="delay"
                               name="Delay" v-model="delay"
                               v-validate="'required|decimal|max_value:10000|min_value:1'">
                        <div v-if="errors.has('Delay')" class="invalid-feedback">{{errors.first('Delay')}}</div>
                    </div>
                    <div class="form-group">
                        <label for="packetLossRate">Packet Loss Rate (%)</label>
                        <input v-bind:class="{'is-invalid': errors.has('Packet Loss Rate')}" class="form-control"
                               id="packetLossRate" name="Packet Loss Rate"
                               v-validate="'required|decimal|max_value:100|min_value:0'" v-model="packetLossRate">
                        <div v-if="errors.has('Packet Loss Rate')" class="invalid-feedback">
                            {{errors.first('Packet Loss Rate')}}
                        </div>
                    </div>
                </div>

                <div id="right-column">
                    <div class="form-group">
                        <label for="targetDPID">Destination DPID</label>
                        <input class="form-control" id="targetDPID" :value="targetDPID" readonly="">
                    </div>
                    <div class="form-group">
                        <label for="bandwidth">Bandwidth (Bit/s)</label>
                        <input v-bind:class="{'is-invalid': errors.has('Bandwidth')}" class="form-control"
                               id="bandwidth" name="Bandwidth" v-model="bandwidth"
                               v-validate="'required|decimal|max_value:10000000|min_value:0'">
                        <div v-if="errors.has('Bandwidth')" class="invalid-feedback">
                            {{errors.first('Bandwidth')}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="adminMetric">Administrative Metric</label>
                        <input v-bind:class="{'is-invalid': errors.has('Administrative Metric')}" class="form-control"
                               id="adminMetric" name="Administrative Metric" v-model="adminMetric"
                               v-validate="'required|decimal|max_value:1000|min_value:1'">
                        <div v-if="errors.has('Administrative Metric')" class="invalid-feedback">
                            {{errors.first('Administrative Metric')}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" @click="$emit('close')">Cancel</button>
            <button type="button" class="btn btn-primary" @click="$emit('close')" v-on:click="save"
                    :disabled="errors.all().length > 0">Save
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            name: String,
            sourceDPID: String,
            targetDPID: String,
            delay: Number,
            bandwidth: Number,
            packetLossRate: Number,
            adminMetric: Number
        },
        name: "LinkPropertiesModal",
        methods: {
            save() {
                this.$api.link.save({
                    sourceDPID: this.sourceDPID,
                    destinationDPID: this.targetDPID,
                    delay: this.delay,
                    bandwidth: this.bandwidth,
                    packetLossRate: this.packetLossRate,
                    adminMetric: this.adminMetric
                }, () => this.$cy.update());
            }
        }
    }
</script>

<style scoped>
    .modal-grid {
        display: grid;
        grid-template-areas: "left-column right-column";
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        justify-items: stretch;
    }

    #left-column {
        grid-area: left-column;
    }

    #right-column {
        grid-area: right-column;
    }
</style>
