<template>
    <div>
        <div class="modal-header">
            <h5 class="modal-title">Switch {{name}}</h5>
            <button type="button" class="close" @click="$emit('close')">
                <span>&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label for="dpid">DPID</label>
                <input class="form-control" id="dpid" :value="dpid" readonly="">
            </div>
            <div class="form-group">
                <label for="segmentId">Cluster ID</label>
                <input class="form-control" id="segmentId" :value="segmentId" readonly="">
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" @click="$emit('close')">OK</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            name: String,
            dpid: String,
            segmentId: Number
        },
        name: "SwitchPropertiesModal",
    }
</script>

<style scoped>
</style>
