<template>
    <div class="card border-primary mb-3">
        <div class="card-header">Flow</div>
        <div class="card-body">
            <h4 class="card-title">Flow Settings</h4>
            <div class="grid">
                <div id="left-column">
                    <div class="form-group">
                        <label for="priority">Priority</label>
                        <input class="form-control" id="priority" name="Priority"
                               v-bind:class="{'is-invalid': errors.has('Priority')}"
                               v-validate="'required|integer|max_value:60000|min_value:1'" v-model="priority">
                        <div v-if="errors.has('Priority')" class="invalid-feedback">{{errors.first('Priority')}}</div>
                    </div>
                    <div class="form-group">
                        <label for="idle-timeout">Idle Timeout</label>
                        <input class="form-control" id="idle-timeout" name="IdleTimeout"
                               v-bind:class="{'is-invalid': errors.has('IdleTimeout')}"
                               v-validate="'required|integer|min_value:0'" v-model="idleTimeout">
                        <div v-if="errors.has('IdleTimeout')" class="invalid-feedback">{{errors.first('IdleTimeout')}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="hard-timeout">Hard Timeout</label>
                        <input class="form-control" id="hard-timeout" name="HardTimeout"
                               v-bind:class="{'is-invalid': errors.has('HardTimeout')}"
                               v-validate="'required|integer|min_value:0'" v-model="hardTimeout">
                        <div v-if="errors.has('HardTimeout')" class="invalid-feedback">{{errors.first('HardTimeout')}}
                        </div>
                    </div>
                </div>
                <div id="right-column">
                    <div class="form-group">
                        <label for="eth-type">Eth Type</label>
                        <input class="form-control" id="eth-type" v-model="ethType" readonly="">
                    </div>
                    <div class="form-group">
                        <label for="ip-proto">IP Protocol</label>
                        <select class="form-control" id="ip-proto" v-model="ipProto">
                            <option></option>
                            <option>udp</option>
                            <option>tcp</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="service-port">Service Port</label>
                        <input class="form-control" id="service-port" name="ServicePort"
                               v-bind:class="{'is-invalid': errors.has('ServicePort')}"
                               v-validate="'integer|min_value:1'" v-model="servicePort">
                        <div v-if="errors.has('ServicePort')" class="invalid-feedback">{{errors.first('ServicePort')}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <router-link to='/'>
                <button type="button" class="btn btn-primary"
                        :disabled="errors.all().length > 0" v-on:click="save()">Save
                </button>
            </router-link>
        </div>
    </div>
</template>

<script>
    import {FlowSettings} from "../../modules/flowSettings";

    export default {
        name: "FlowCard",
        created() {
            const flowSettings = this.$store.getters.FLOW_SETTINGS;
            this.priority = flowSettings.priority;
            this.idleTimeout = flowSettings.idleTimeout;
            this.hardTimeout = flowSettings.hardTimeout;
            this.ethType = flowSettings.ethType;
            this.ipProto = flowSettings.ipProto;
            this.servicePort = flowSettings.servicePort;
        },
        methods: {
            save() {
                const flowSettings = new FlowSettings();
                flowSettings.priority = parseInt(this.priority);
                flowSettings.idleTimeout = parseInt(this.idleTimeout);
                flowSettings.hardTimeout = parseInt(this.hardTimeout);
                flowSettings.ethType = this.ethType;
                flowSettings.ipProto = this.ipProto;
                flowSettings.servicePort = parseInt(this.servicePort);
                this.$store.commit('SET_FLOW_SETTINGS', flowSettings);
            }
        },
        data() {
            return {
                priority: 0,
                idleTimeout: 0,
                hardTimeout: 0,
                ethType: '',
                ipProto: '',
                servicePort: 0
            }
        },
    }
</script>

<style scoped>
    .grid {
        display: grid;
        grid-template-areas: "left-column right-column";
        grid-template-columns: 1fr 1fr;
        grid-gap: 1em;
        justify-items: stretch;
    }

    #left-column {
        grid-area: left-column;
    }

    #right-column {
        grid-area: right-column;
    }
</style>