<template>
    <div class="card border-primary mb-3">
        <div class="card-header">Metrics</div>
        <div class="card-body">
            <h4 class="card-title">Available Metrics</h4>
            <div class="form-group">
                <div class="custom-control custom-radio">
                    <input type="radio" id="delayRadio" name="metricRadio"
                           class="custom-control-input" value="delay" v-model="metric">
                    <label class="custom-control-label" for="delayRadio">Delay</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="bandwidthRadio" name="metricRadio"
                           class="custom-control-input" value="bandwidth" v-model="metric">
                    <label class="custom-control-label" for="bandwidthRadio">Bandwidth</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="packetLossRateRadio" name="metricRadio"
                           class="custom-control-input" value="packetLossRate" v-model="metric">
                    <label class="custom-control-label" for="packetLossRateRadio">Packet Loss Rate</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="laracRadio" name="metricRadio"
                           class="custom-control-input" value="larac" v-model="metric">
                    <label class="custom-control-label" for="laracRadio">LARAC</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="laracCost" name="metricRadio"
                           class="custom-control-input" value="laracCost" v-model="metric">
                    <label class="custom-control-label" for="laracCost">LARAC Cost</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="qosParams" name="metricRadio"
                           class="custom-control-input" value="qosParams" v-model="metric">
                    <label class="custom-control-label" for="qosParams">QoS Parameters</label>
                </div>
                <div class="custom-control custom-radio">
                    <input type="radio" id="administrativeMetricRadio" name="metricRadio"
                           class="custom-control-input" value="adminMetric" v-model="metric">
                    <label class="custom-control-label" for="administrativeMetricRadio">Administrative Metric</label>
                </div>
                <div class="custom-control"><!-- empty line --></div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="useCustomMetrics" v-model="useCustomMetrics">
                    <label class="custom-control-label" for="useCustomMetrics">Use custom metrics</label>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <router-link to='/'>
                <button type="button" class="btn btn-primary" v-on:click="save()">Save</button>
            </router-link>
        </div>
    </div>
</template>

<script>
    export default {
        created: function () {
            this.$api.metric.get(response => {
                this.metric = response.data.metric;
                this.useCustomMetrics = response.data.useCustomMetrics;
            });
        },
        name: "MetricsCard",
        data() {
            return {
                metric: '',
                useCustomMetrics: false
            }
        },
        methods: {
            save: function () {
                this.$api.metric.save(this.metric, this.useCustomMetrics, () => this.$cy.update());
            }
        }
    }
</script>

<style scoped>
</style>
