<template>
    <div class="page">
        <MetricsCard/>
        <StatisticsCard/>
        <FlowCard/>
    </div>
</template>

<script>
    import MetricsCard from './MetricsCard';
    import StatisticsCard from './StatisticsCard';
    import FlowCard from "./FlowCard";

    export default {
        name: "SettingsPage",
        components: {
            FlowCard,
            MetricsCard,
            StatisticsCard
        }
    }
</script>

<style scoped>
    .page {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        grid-gap: 2vw;
        justify-items: stretch;
    }
</style>
