<template>
    <div class="card border-primary mb-3">
        <div class="card-header">Statistics</div>
        <div class="card-body">
            <h4 class="card-title">Available Algorithms</h4>
            <div class="form-group">
                <label for="algorithmSelect">Algorithm</label>
                <select id="algorithmSelect" class="form-control" v-model="algorithm">
                    <option :value=segmentationAlgorithm>Segmentation Algorithm</option>
                    <option :value=bisectionAlgorithm>Bisection Algorithm</option>
                    <option :value=qosSlicing>QoS Slicing</option>
                    <option :value=primAlgorithm>Prim's Algorithm</option>
                    <option :value=girvanNewmanAlgorithm>Girvan-Newman's Algorithm</option>
                </select>
            </div>
        </div>
        <div class="card-footer">
            <router-link to='/statistics'>
                <button type="button" class="btn btn-primary" v-on:click="save()">Save</button>
            </router-link>
        </div>
    </div>
</template>

<script>
    import {Tool} from '../../modules/tool';

    export default {
        created() {
            this.algorithm = this.$store.getters.STATISTICS_ALGORITHM;
        },
        name: "StatisticsCard",
        data() {
            return {
                bisectionAlgorithm: Tool.BISECTION,
                segmentationAlgorithm: Tool.SEGMENTATION,
                qosSlicing: Tool.SLICING,
                primAlgorithm: Tool.PRIM,
                girvanNewmanAlgorithm: Tool.GIRVAN_NEWMAN,
                algorithm: ''
            }
        },
        methods: {
            save: function () {
                this.$store.commit('SET_STATISTICS_ALGORITHM', this.algorithm)
            }
        }
    }
</script>

<style scoped>
</style>
